<div class="page">
  <div class="page__header">
    <app-categories
      [categories]="data.categories"
      (onChanged)="onChangeCategory($event)"
    ></app-categories>
    <div class="search-and-filter">
      <app-search
        (onChanged)="onChangeSearch($event)"
      ></app-search>
      <app-filter
        [merchants]="data.merchants"
        (onChanged)="onChangeMerchants($event)"
      ></app-filter>
    </div>
  </div>
  <div class="page__content">
    <app-games
      [baseUrl]="baseUrl"
      [games]="gameService.games"
    ></app-games>
  </div>
  <app-counter
    (onChanged)="onChangeCounter()"
  ></app-counter>
</div>
